<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>{{name}} Report</h1>
    <table border="1">
        <thead>
            <th>SL.No</th>
            <th>Question</th>
            <th>Candidate's Answer</th>
            <th>Accuracy</th>
        </thead>
        {% for row in data %} 
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.2}}</td>
            <td>{{row.3}}</td>
            <td>{{row.1}}</td>

        </tr>
        {% endfor %}
    </table>
    <h3>Observations</h3>
    <h4>Performance : {{performance}}</h4>
    <p>{{remarks}}</p>

    <a href="results">Back</a>


    {% else %}
    <h1>Please Sign In to continue</h1>
    {% endif %}    

    
</body>
</html>