<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="signin" method="POST">
        {% csrf_token %}
        <input type="text" name="username" id="" placeholder="User name"><br><p></p>
        <input type="password" name="password" id="" placeholder="Password"><br><p></p>
        <input type="submit" name="" id="">
    </form>
    <div id="errorMessage">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    
</body>
</html>