<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

    <h1>Sign Up</h1>
    <form action="signup" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name"> <br><p></p>
        <input type="text" name="last_name" placeholder="Last Name"> <br><p></p>
        <input type="text" name="username" placeholder="User Name"> <br><p></p>
        <input type="email" name="email" placeholder="Email Address"> <br><p></p>
        <input type="password" name="password1" placeholder="Password"> <br><p></p>
        <input type="password" name="password2" placeholder="Confirm Password"> <br><p></p>
        <input type="submit" name="" id="">
    </form>
    <div id="errorMessage">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    
</body>
</html>