{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'one.css'%}" type="text/css">
    <title>Question 6</title>
</head>
<body>
  <div id="header_wrapper">
      <div id="header">
        <a href="questionsix" style="color: white; text-decoration:none;"><h2>Interviewer</h2></a>
      </div>
  </div>
    <h1> Question : 6 {{question_6}}</h1><br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <textarea name="answer_6" id="my_field1" cols="80" rows="8"></textarea>
        <button type="button" class="record" onclick="change1()">Record</button>
        <p></p>

        <button type="submit" class="submit"> Submit</button>

    </form>
    <script>
        function change1(){
            var recognition = new webkitSpeechRecognition();
            recognition.lang = "en-GB";

            recognition.onresult = function(event) {
                // console.log(event);
                document.getElementById('my_field1').value = event.results[0][0].transcript;
            }
            recognition.start();
        }
    </script>
</body>
</html>
